@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

figure {
  margin: 0;
}

li {
  list-style-type: none;
}

.container {
  padding: 1rem 2rem;
  max-width: 1024px;
  margin: 0 auto;
}

.card-body {
  background: #151515;
  height: 100px;
  position: relative;
  color: #fefefe;
  padding: 1rem;
}

.card-body__heading,
.card-body__alt-name {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.card-body__alt-name {
  color: silver;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 0.8rem;
}

.card-body:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #f8f8f8 transparent;
}

.thumbnail {
  background: #e62429;
  position: relative;
}

.img__wrapper {
  height: 170px;
}

.img__wrapper:after {
  height: 4px;
  content: "";
  background-color: #e62429;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img__wrapper img {
  height: 170px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1%;
}

@media screen and (max-width: 760px) {
  .container {
    padding: 1rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 1rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
